@import "variables.scss";
@import "mixins.scss";

@import "normalize.scss";

@import "global/fonts.scss";
@import "global/layout.scss";
@import "global/forms.scss";

@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/intro.scss";
@import "blocks/categories.scss";
@import "blocks/week-good.scss";
@import "blocks/btn.scss";
@import "blocks/about-us.scss";
@import "blocks/reviews.scss";
@import "blocks/contacts.scss";
@import "blocks/modal.scss";
@import "blocks/promo-text.scss";
@import "blocks/order-form.scss";
@import "blocks/catalog.scss";
@import "blocks/catalog-item.scss";
@import "blocks/producing.scss";
@import "blocks/page-footer.scss";
@import "blocks/social.scss";
@import "blocks/social-link.scss";
@import "blocks/copyright.scss";
