// Цвета

$color-decoration: #ececec;
$color-decoration-dark: #e5e5e5;
$color-primary: #63d1bb;
$color-background: #ffffff;
$color-primary-dark: #56c3b2;
$color-primary-very-dark: #56c3b2;
$color-text: #000000;


// Шрифты

$font-back: Arial, sans-serif;
$font-primary: Open sans, $font-back;


//Фоны

$bg-grey: #f1f1f1;

// Обводки

$border: 1px solid $color-decoration;

// Брейкпоинты
