.categories {
  @include font(19px, 400, 43px);
  color: $color-background;
  background-color: $color-primary;
}

.categories__link {


  p {
    margin-left: 30px;
    min-height: 63px;
    /*  background-image: url(/img/icon-interior.svg);
        background-repeat: no-repeat;  */

  &--toys p {
    /*  background-image: url(/img/icon-toy.svg); */
  }
  }
}

.categories__link--toys p {
  background-image: url(/img/icon-toy.svg);
}
