.intro {
  font-family: $font-primary;
  font-weight: bold;
  font-size: 27px;
  line-height: 57px;
  text-align: center;


  &--index {
    height: 489px;
    width: 320px;
    border-top: 1px solid $lightgray;
    background-image: url(/img/hero-mobile@1x.jpg);
  }


}
